.about_us_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;
}

.about_us_info {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about_us_video {
  width: 45%;
  border-radius: 20px;
  margin-top: 15px;
}

.section_title {
  color: var(--text);

  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
}

.section_desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;

  color: var(--text);
}

.photos_anim_block {
  background: url("../../../assets/section_backgrounds/plane_background_line.svg")
    center no-repeat;
  background-size: cover;
}

.photos_anim_inner {
  margin-top: 80px;
  margin-bottom: 80px;
  position: relative;
  height: auto;
  display: block;
  width: 100%;
  aspect-ratio: 1290 / 915;
}

.photos_anim {
  border-radius: 20px;
  object-fit: cover;
  width: 100%;
}

.firstIm {
  position: absolute;
  top: 14.43%;
  left: 0;
}

.secIm {
  position: absolute;
  top: 0;
  left: calc(24.81% + 1.16%);
}

.thirdIm {
  position: absolute;
  top: calc(16.67%);
  left: calc(24.81% + 27.13% + 1.16% * 2);
}

.forthIm {
  position: absolute;
  bottom: calc(16.67%);
  right: calc(24.81% + 27.13% + 1.16% * 2);
}

.fifthIm {
  position: absolute;
  bottom: 0;
  right: calc(24.81% + 1.16%);
}

.sixthIm {
  position: absolute;
  bottom: 20.11%;
  right: 0;
}

.firstIm,
.sixthIm {
  width: 24.81%;
  aspect-ratio: 320 / 500;
}

.secIm,
.fifthIm {
  width: 27.13%;
  aspect-ratio: 350 / 450;
}

.thirdIm,
.forthIm {
  width: 20.16%;
  aspect-ratio: 260 / 300;
}

.photos_anim {
  display: block;
  width: 100%;
  height: 100%;
}

.our_projects_block {
  margin-bottom: 160px;
  position: relative;
  overflow: visible;
}

.our_projects_info .swiper {
  overflow: hidden;
}

.our_projects_block .section_title {
  margin-bottom: 30px;
}

.our_projects_block .section_desc {
  margin-bottom: 30px;
}

.background_block {
  position: absolute;
  top: 30px;
  left: 45%;
  z-index: -1;
  background: #eaf2fd;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.projects_flex {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 40px;
  height: auto;
}

.our_projects_info {
  width: 49%;
}

.our_projects_info {
  overflow: hidden;
}

.projects_flex iframe {
  width: 100%;
  height: 78%;
  margin-top: 30px;
}

.swiper_button_block {
  margin-top: 110px;
}

.faq_block {
  background: #eaf2fd;
  padding: 100px 0;
  margin-top: 100px;
}

.faq_block .section_title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;

  margin-bottom: 40px;
}

.our_projects_block {
  position: relative;
}

.our_projects_block .swiper_button_prev,
.our_projects_block .swiper_button_next {
  position: absolute;
  top: -90px;
  z-index: 10;
  background-color: var(--blue);
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
}

.our_projects_block .swiper_button_prev {
  right: 76px;
}

.our_projects_block .swiper_button_next {
  right: 10px;
}

.our_projects_block .swiper_button_next svg,
.our_projects_block .swiper_button_prev svg {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
  width: 10px;
  height: 20px;
}

.our_projects_block .swiper_button_prev svg {
  transform: translate(-50%, -50%) rotate(180deg);
}

@media (max-width: 1366px) {
  .projects_flex {
    flex-direction: column;
    gap: 30px;
  }
  .our_projects_info {
    width: 100%;
    margin-top: 0;
  }
  .our_projects_block .about_us_video {
    width: 100%;
    min-height: 400px;
  }
}

@media (max-width: 1024px) {
  .about_us_flex {
    flex-direction: column;
    gap: 30px;
  }

  .about_us_info {
    width: 100%;
    gap: 10px;
  }

  .about_us_video {
    width: 100%;
    aspect-ratio: 335 / 230;
  }
}

@media (max-width: 768px) {
  .photos_anim_inner {
    aspect-ratio: 320 / 829;
    padding: 50px 0 0;
    width: 100%;
  }

  .firstIm {
    top: 0;
    left: 50%;
    transform: translate(-50%, 50px);
  }

  .secIm {
    top: calc(26.54% + 0.96% + 50px);
    left: calc(50% - 2.5% / 2 + 4px);
    bottom: auto;
  }

  .thirdIm {
    top: calc(26.54% + 23.51% + (0.96% * 2) + 50px);
    left: calc(50% - 2.5% / 2 + 4px);
  }

  .forthIm {
    top: calc(26.54% + 0.96% + 50px);
    right: calc(50% - 0.96% * 2);
    transform: translateX(calc(-50% + 32% + 0.96% * 2));
  }

  .fifthIm {
    left: 0px;
    top: calc(26.54% + 17.52% + (0.96% * 2) + 50px);
  }

  .sixthIm {
    top: calc(26.54% + 23.51% + 17.52% + (0.96% * 3));
    left: 50%;
    transform: translate(-50%, 50px);
  }

  .firstIm,
  .sixthIm {
    width: 53.13%;
    aspect-ratio: 170 / 220;
  }

  .secIm,
  .fifthIm {
    width: 47.13%;
    aspect-ratio: 170 / 220;
  }

  .thirdIm,
  .forthIm {
    width: 37.5%;
    aspect-ratio: 120 / 145;
  }
}
