/*!*************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/[locale]/components/layout/container/Container.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************/
.Container_global_container__iCBtc{
    display: block;
    max-width: 1330px;
    width: 100%;
    overflow: hidden;
    padding: 0 20px;
    margin: 0 auto;
}

header .Container_global_container__iCBtc{
    overflow: visible;
}

.Container_global_container_visible__kKNZP{
    overflow: visible;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/[locale]/blog/[blogId]/page.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************/
.page_blog_details_page__rwGX8 {
  padding: 80px 0;
  color: #2b2a29;
}

.page_blog_title__El1Yt {
  font-size: 40px;
  font-weight: 600;
  line-height: 48.76px;
  text-align: center;
  color: #242424;
  margin-bottom: 50px;
}

.page_blog_cover___cA6x {
  height: 600px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.page_blog_info_block__B3wSr {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.page_blog_info_title__ouEN8 {
  font-size: 24px;
  font-weight: 600;
  line-height: 29.26px;
}

.page_blog_info_desc__YzxXe {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.page_blog_images_block__0Ve5f {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  gap: 50px;
  margin-bottom: 50px;
}

.page_maxHeight__W052e{
  min-height: 720px;
}

.page_textHeght__PD8eU{
  min-height: auto;
}

.page_imageStyle__3tfA3 {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page_blog_images_title__td7WW {
  font-size: 24px;
  font-weight: 600;
  line-height: 33.6px;
}

.page_blog_images_desc__9fs1C {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.page_blog_images_info__kOyeZ {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.page_halfWidth___Vj4s {
  grid-column: span 1;
}

.page_fullWidth__Dg9k3 {
  grid-column: span 2;
}

.page_share_block__RCidF {
  gap: 20px;
}

.page_share_block__RCidF,
.page_share_block_inner__OTUW9{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.page_share_block_inner__OTUW9 span {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin-right: 20px;
}

.page_dashed_border__ylJ_p {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: transparent;
}

.page_dashed_border__ylJ_p::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  border-top: 2px dashed var(--stroke);
}

@media (max-width: 768px) {
  .page_blog_details_page__rwGX8 {
    color: var(--text);
    padding: 40px 0;
  }
  .page_blog_images_block__0Ve5f {
    display: flex;
    flex-direction: column;
  }

  .page_blog_images_info__kOyeZ{
    order: -1;
  }

  .page_blog_title__El1Yt {
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 700;
    line-height: 33.6px;
  }

  .page_blog_cover___cA6x {
    max-height: 230px;
  }

  .page_blog_info_title__ouEN8 {
    font-size: 16px;
    font-weight: 600;
    line-height: 19.5px;
  }

  .page_blog_info_desc__YzxXe {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
  }

  .page_blog_images_title__td7WW {
    font-size: 16px;
    font-weight: 600;
    line-height: 19.5px;
  }

  .page_blog_images_desc__9fs1C {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
  }

  .page_share_block__RCidF {
    gap: 5px;
  }

  .page_share_block_inner__OTUW9 span {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-right: 8px;
  }
}

@media (max-width: 360px) {
    .page_share_block_inner__OTUW9{
        flex-direction: column;
        gap: 10px;
        margin: 0 auto;
    }

    .page_dashed_border__ylJ_p{
        display: none;
    }
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/[locale]/components/cards/social_icons/social_icons.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************/
.social_icons_social_icon__LPMVs {
  width: 40px;
  height: 40px;
  display: block;
  position: relative;
  border-radius: 10px;
}

.social_icons_social_icon__LPMVs img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social_icons_whatsApp__EsaZV {
  background: #48c95f;
}

.social_icons_telegram__Y5JOD {
  background: #27a6e5;
}

.social_icons_instagram__WytX5 {
  background: radial-gradient(
    230.93% 230.93% at 102.01% 2.03%,
    #f9ed32 0%,
    #ee2a7b 36%,
    #d22a8a 44%,
    #8b2ab2 60%,
    #1b2af0 83%,
    #002aff 88%
  );
}

.social_icons_tik_tok__Vqy9T {
  background: #111111;
}

.social_icons_facebook__CvLCF {
  background: #0b84ee;
}

.social_icons_youTube__a7oHu {
  background: #f40000;
}

.social_icons_icons_list__cWc9w {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

@media (max-width: 768px) {
  .social_icons_social_icon__LPMVs {
    width: 32px;
    height: 32px;
  }

  .social_icons_social_icon__LPMVs img {
    width: 16px;
    height: 16px;
  }

  .social_icons_icons_list__cWc9w {
    gap: 4px;
  }
}

