/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/[locale]/privacy.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.privacy_policy_page__DpVY6 {
  margin: 80px 0;
}

.privacy_page_title__A7o9i {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 48.76px;
  color: #242424;
  margin-bottom: 50px;
}

.privacy_page_desc__21Zu8 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #2b2a29;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .privacy_policy_page__DpVY6 {
    margin: 40px 0;
  }
  .privacy_page_title__A7o9i {
    font-size: 24px;
    font-weight: 700;
    line-height: 33.6px;
    color: var(--text);
  }

  .privacy_page_desc__21Zu8 {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    margin-bottom: 20px;
    color: var(--text);
  }
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/[locale]/components/layout/container/Container.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************/
.Container_global_container__iCBtc{
    display: block;
    max-width: 1330px;
    width: 100%;
    overflow: hidden;
    padding: 0 20px;
    margin: 0 auto;
}

header .Container_global_container__iCBtc{
    overflow: visible;
}

.Container_global_container_visible__kKNZP{
    overflow: visible;
}
