#site-logo {
    width: 100px; /* Устанавливаем ширину логотипа */
    height: auto; /* Автоматически подстраиваем высоту */
    display: block; /* Для того чтобы логотип правильно отображался */
    margin: 0 auto; /* Центрируем логотип */
}