.tour_page_main .ticket_picker_block {
  background: url("../../../assets/section_backgrounds/tours_bg.jpeg") center
    no-repeat;
  background-size: cover;
}

.ticket_picker_block {
  padding: 100px 0;
  position: relative;
}

.cards_flex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 100px;
}

.cards_section {
  margin-bottom: 100px;
}

@media (max-width: 1200px) {
  .cards_flex {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 740px) {
  .cards_flex {
    grid-template-columns: 1fr;
  }
}
