.darker_filter {
  background: #00000066;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.darker_filter.allow_hover {
  opacity: 0;
  transition: 0.25s all;
  background: #00000035;
}

.darker_filter.allow_hover:hover {
  opacity: 1;
  transition: 0.25s all;
}
