.air_tickets_page_main .ticket_picker_block {
    background: url("../../../assets/section_backgrounds/air_tickets.jpeg") center no-repeat;
    background-size: cover;
  }
  
  .ticket_picker_block {
    padding: 100px 0;
    position: relative;
  }
  